<!DOCTYPE html>
<html lang="en-US">
<meta charset="UTF-8">
<title>Ricky Fok's Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
</style>
<script src=""></script>
<body>

<div class="w3-container w3-black">
 <h1>Ba Ba Boi</h1>
</div>

<main>
<div class="page-preview">
            <div class="page-preview-header">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="previewDesktopBtn" data-preview-size="100%"><img alt="Responsive Desktop Mode" src="//csite.nicepage.com/Images/Site/responsive-desktop.png"></a>

            </div>
            <div class="page-preview-body">
                <p align="center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/14L8WWOIZdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
             

            </div>

            <p>
               Permutation Test for Scipy: {{permVal}}
            </p>

            <p>
               Exponent Test for Scipy: {{exp2Val}}
            </p>
            
        </div>
</main>

</body>
</html>

